# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

print (df.head())
print (df.dtypes)

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73
station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [4]:
df.columns

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

In [5]:
# Set the date column as the DataFrame index 
df.set_index(['date'], inplace = True)

df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [6]:
# Drop the date column

### Compare June and December data across all years

In [7]:
from scipy import stats

In [8]:
# Filter data for desired months
june_df = df[(df.index.month == 6)]

print(june_df.head())
print(june_df.tobs.count())
print(june_df.index.max())

dec_df = df[(df.index.month ==12)]

print(dec_df.head())
print(dec_df.tobs.count())
print(dec_df.index.max())

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
1700
2017-06-30 00:00:00
                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
1517
2016-12-31 00:00:00

In [9]:
#match the daterange of the datasets

#june_df = june_df.index <= dt(2016,12,31)

In [10]:
# Identify the average temperature for June
june_temp_avg = june_df['tobs'].dropna().mean()
june_temp_avg

74.94411764705882

In [11]:
# Identify the average temperature for December
dec_temp_avg = dec_df['tobs'].dropna().mean()
dec_temp_avg

71.04152933421226

In [12]:
# Create collections of temperature data

In [13]:
# Run paired t-test

stats.ttest_rel(june_df['tobs'], dec_df['tobs'])

ValueError: unequal length arrays

### Analysis